<!DOCTYPE html>
<!-- build:[manifest] game.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Chess</title>
  <meta name="description" content="Chess game">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- build:js http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <!-- /build -->

  <!-- build:js dist/everything.min.js -->
  <script src="src/gameLogic.js"></script>
  <script src="src/game.js"></script>
  <script src="src/aiService.js"></script>
  <!-- /build -->

  <!-- build:js http://yoav-zibin.github.io/emulator/dist/gameServices.min.js -->
  <script src="http://yoav-zibin.github.io/emulator/alphaBetaService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/resizeGameAreaService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
  <!-- /build -->

  <!--Enable the drag and drop in mobile device-->
  <script src="http://yoav-zibin.github.io/emulator/examples/drag_n_drop/dragAndDropListeners.js"></script>

  <script src="languages/en.js"></script>
  <!-- build:js http://yoav-zibin.github.io/emulator/angular-translate/angular-translate.2.6.1.min.js -->
  <script src="http://yoav-zibin.github.io/emulator/angular-translate/angular-translate.2.6.1.js"></script>
  <!-- /build -->

  <!-- stylesheets -->
  <link rel="stylesheet"
        href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet"
        href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="vendor/font-awesome-4.2.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">
  <link rel="stylesheet" type="text/css" href="game.css">
</head>

<body ng-cloak ng-controller="ChessCtrl">

<div id="gameArea">
  <section id="board">
    <div ng-repeat="row in rows"
        style="position:absolute; top:{{row * 100 / rowsNum}}%; left:0; width:100%; height:{{100 / rowsNum}}%;">
      <div ng-repeat="col in cols" class="square"
          style="position:absolute; top:0; left:{{col * 100 / colsNum}}%; width:{{100 / colsNum}}%; height:100%;"
          ng-class=""
          ng-click="cellClicked(row, col)"
          id="{{'e2e_test_div_' + row + 'x' + col}}">
        <svg width="100%" height="100%"
          style="position:absolute;"
          ng-show="true">
          <!-- background image -->
          <!-- <img ng-src="{{getBackgroundSrc(row, col)}}" classs="background_image" width="100%" height="100%" style="z-index: -1;" id="MyBackground{{row}}x{{col}}"> -->
          <rect width="100%" height="100%" ng-attr-fill="{{getBackgroundFill(row, col)}}" id="MyBackground{{row}}x{{col}}" />
          <div class="img-wrap" id="MyPiece{{row}}x{{col}}">
            <!--The image of the piece get wrapped upon background img-->
            <img ng-class="{piece: true,
                            canSelect: canSelect(row, col),
                            isBlackPiece: isBlackPiece(row, col),
                            isWhitePiece: isWhitePiece(row, col)}"
              ng-show="shouldShowImage(row, col)"
              ng-src="{{getImageSrc(row, col)}}"
              id="{{'e2e_test_img_' + getPieceKindInId(row, col) + '_' + row + 'x' + col}}">
          </div>
        </svg>
      </div>
    </div>
  </section>
  <div class="overlayModal" ng-show="isModalShown('promotionModal')" aria-hidden="true">
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Congratulations! You can promote this pawn to Queen, Rook, Knight and Bishop. Please choose one. Note: default promotion to Queen if not selected.</h4>
      </div>
      <div class="modal-body">
        <div><label><img src="imgs/Chess-{{player}}Queen.png" alt="queen" /><input type="radio" name="promotions" value="{{player}}Q">Queen</label></div>
        <div><label><img src="imgs/Chess-{{player}}Rook.png" alt="queen" /><input type="radio" name="promotions" value="{{player}}R">Rook</label></div>
        <div><label><img src="imgs/Chess-{{player}}Knight.png" alt="queen" /><input type="radio" name="promotions" value="{{player}}N">Knight</label></div>
        <div><label><img src="imgs/Chess-{{player}}Bishop.png" alt="queen" /><input type="radio" name="promotions" value="{{player}}B">Bishop</label></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="updatePromoteTo()">
          Promote!
        </button>
      </div>
    </div>
  </div>
</div>

</div>


</body>
</html>