.piece {
  position: absolute;
  width: 60%;
  top: 20%;
  left: 20%;
}
.rb {
  border-right: 2pt solid black;
  border-bottom: 2pt solid black;

}
.l {
  border-left: 2pt solid black;

}
.t {
  border-top: 2pt solid black;
}

.background_image {
  max-width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
}

.selectedPiece {
  /*box-shadow: 0px 0px 5px 5px #5F04B4;*/
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
}

img.isBlackPiece.canSelect {
  animation: black-blink 2s infinite;
  -webkit-animation: black-blink 2s infinite;
}

img.isWhitePiece.canSelect {
  animation: white-blink 2s infinite;
  -webkit-animation: white-blink 2s infinite;
}

/*img.canSelect {
  -webkit-animation-name: orangellowPulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;

  -webkit-transition: all 0.5s ease; 
  -moz-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease;
}*/



.slowlyAppear {
  -webkit-animation: slowlyAppear 0.3s linear; /* Chrome, Safari, Opera */
  animation: slowlyAppear 0.3s linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

/****************************************
Blink key frames
****************************************/
@keyframes white-blink {
  50% {
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
    -webkit-box-shadow:0 0 18px #ffb515;
  }
}
@-webkit-keyframes white-blink {
  50% {
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
    -webkit-box-shadow:0 0 18px #ffb515;
  }
}

@keyframes black-blink {
  50% {
    filter: brightness(1.6);
    -webkit-filter: brightness(1.6);
    -webkit-box-shadow:0 0 18px #4C0000;
  }
}
@-webkit-keyframes black-blink {
  50% {
    filter: brightness(1.6);
    -webkit-filter: brightness(1.6);
    -webkit-box-shadow:0 0 18px #4C0000;
}